@charset "utf-8";
/* main.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}



 .logo {
  float: left;        /* L’image se place à gauche */
  margin-right: 20px; /* Espace entre l’image et le texte */
  height: 90px;   /* Réduit la hauteur */
  width: auto;    /* Garde les proportions */
}